mixin card(state, img, heading, smallHeading, desc, weight, weightUnits, topText, topTextHover, bottomText, bottomTextSelected, mods)

  //- state{string} - возможные значения: enabled, selected, disabled
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' card--' + modsList[i].trim();
      }
    }

  article.card(class=allMods state=state)&attributes(attributes)
    .card__inner
      p.card__top-text.card__top-text--default!= topText
      p.card__top-text.card__top-text--hover(hidden)!= topTextHover
      h2.card__heading= heading
      if (smallHeading !== '')
        h3.card__small-heading= smallHeading
      if (desc.length !== 0)
        ul.card__desc
          each item in desc
            li.card__desc-item!= item
      if (weight !== '' && weightItems !== '')
        .card__weight
          p.card__weight-digits= weight
          p.card__weight-units= weightUnits
      if (img !== '')
        img.card__img(src='img/' + img)
    if (state === 'enabled')
      p.card__bottom-text!= bottomText
      p.card__bottom-text(hidden)!= bottomTextSelected
    else if (state === 'selected')
      p.card__bottom-text(hidden)!= bottomText
      p.card__bottom-text!= bottomTextSelected
    else
      p.card__bottom-text= 'Печалька, ' + smallHeading + ' закончился'
    img.card__bgr(width='320' height='480' src='img/card-bg.svg')