mixin card(state, img, imgRetina, heading, smallHeading, desc, weight, weightUnits, topText, topTextHover, bottomText, bottomTextSelected, mods)

  //- state{string} - возможные значения: enabled, selected, disabled
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' card--' + modsList[i].trim();
      }
    }

  article.card.hoverable(class=allMods state=state)&attributes(attributes)
    .card__inner
      p.card__top-text= topText
      p.card__top-text= topTextHover
      h2.card__heading= heading
      if (smallHeading !== '')
        h3.card__small-heading= smallHeading
      if (desc.length !== 0)
        ul.card__desc
          each item in desc
            li.card__desc-item!= item
      if (weight !== '' && weightItems !== '')
        .card__weight
          p.card__weight-digits= weight
          p.card__weight-units= weightUnits
      if (img !== '')
        if (imgRetina != '')
          img.card__img(src='img/' + img srcset='img/' + img + ' 1x, img/' + imgRetina + ' 2x' alt="Фото котика")
        else
          img.card__img(src='img/' + img)
    if (state === 'enabled')
      p.card__bottom-text!= bottomText
      p.card__bottom-text(hidden)= bottomTextSelected
    else if (state === 'selected')
      p.card__bottom-text(hidden)!= bottomText
      p.card__bottom-text= bottomTextSelected
    else
      p.card__bottom-text= 'Печалька, ' + smallHeading + ' закончился'
    svg.card__bgr(width='320' height='480')
        use(xlink:href='#cardbg')


mixin card-svg()
  svg.card-svg(width='0' height='0')
    defs
      symbol(id="cardbg" viewBox="0 0 320 480")
        path(d="M2,43.5046174 L2,468 C2,473.522847 6.4771525,478 12,478 L308,478 C313.522847,478 318,473.522847 318,468 L318,12 C318,6.4771525 313.522847,2 308.001698,1.99999928 L43.2799237,2.2246937 L2,43.5046174 Z")
